@tailwind base;
@tailwind components;
@tailwind utilities;

/*?font-import : hahmlet */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Hahmlet', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: xx-large;
  font-weight: 700;
}