.calendar {
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
}

table {
  width: 100%;
  height: 100%;

  border-collapse: collapse;
}

thead {
  height: 3rem;

  line-height: 3rem;
}


tr {
  height: calc(100% / 5);

  display: flex;
  justify-content: space-around;
}

td {
  width: calc(100% / 7);
  height: 100%;
  
  border-top: 1px solid rgb(242, 242, 242);
}

.prevMonthDay,
.nextMonthDay {
  color: lightgray;
  font-weight: 200;
}

.prevMonthDay div,
.nextMonthDay div,
.Day div {
  margin: 0.2rem;
  padding: 0 0.2rem;
}

td.Day:hover,
td.today:hover {
  box-shadow: 0 0 0 3px #0086FF inset;
  cursor: pointer;
}

#event-box {
  height: 75%;
  padding: 0.25rem;
}

#event-box li {
  padding-left: 0.2rem;
  margin-bottom: 0.15rem;
}

.group-event {
  border-radius: 0.125rem;
  transition: transform 150ms; 
}

.group-event:hover {
  box-shadow: 0 5px 5px -1px rgb(0, 0, 0, 0.5);
  transform: translateY(-0.05rem);
}

.dayBox {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.day {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.member-section {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.5em;  
}

th.day-0, .day-0 .day { /* 일요일 */
  color: rgb(212, 85, 85);
}

th.day-6, .day-6 .day { /* 토요일 */
  color: rgb(70, 70, 186);
}

.today .day {
  border-radius: 5px;

  /* background-color: #0086FF; */
  color: #0086FF;
  font-size:x-large;
  font-weight: bold;
}

.choiceDay .day {
  font-size: x-large;
  font-weight: bold;
}

.choiceDay {
  background-color: #0086FF25;
  border-radius: 0.5rem;
}


.kakao-event {
  background: #F7E600;
  border-radius: 3px;
}


/*************** 멤버 일정 표시 ***************/
.tooltip-content {
  z-index: 99999;
  position: absolute;
  display: flex;
  flex-direction: column;

  min-width: 20rem;
  width: auto;
  padding: 10px;

  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);

  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.tooltip .thumbnail {
  width: 2rem;
  z-index: 1;
}

.thumbnail-container {
  width: 5rem;
  margin: auto;
}