@tailwind base;
@tailwind components;
@tailwind utilities;

/*?font-import : hahmlet */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Hahmlet', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size:xx-large;
  font-weight: 700;
}

h2 {
  font-size: x-large;
  font-weight: 700;
}

@layer base {
  .BTN {
    padding: 0.5rem;
  }
}

@layer base {
  .FLEX-horiz {
    @apply flex flex-col
  }

  .FLEX-horizC {
    @apply flex flex-col items-center justify-center
  }
}

@layer base {
  .FLEX-ver {
    @apply flex flex-row
  }
  .FLEX-verA {
    @apply flex flex-row justify-around
  }

  .FLEX-verB {
    @apply flex flex-row justify-between
  }

  .FLEX-verC {
    @apply flex flex-row justify-center
  }
}

@layer components {
  .SCROLL-hide {
    @apply overflow-y-auto scrollbar-hide;
  }
}

@layer components {
  .rMenu-header {
    height: 3rem;
    padding: 0 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #F2F2F2;
  }
}

@layer components {
  .INPUT {
    border: 1px solid lightgray;
    border-radius: 5px;

    font-size: larger;
    @apply transition duration-300 focus:border-blue-600 focus:border-2 focus:outline-none
  }

  .SIGN-input {
    width: 40rem;
    height: 3rem;

    padding-left: 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;

    font-size: larger;
    @apply transition duration-300 focus:border-blue-600 focus:border-2 focus:outline-none
  }
}

@keyframes SLIDEinLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);;
  }
}

@keyframes SLIDEoutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

#SLIDEin-left {
  border-right: 1px solid rgb(242, 242, 242);
  animation: SLIDEinLeft 0.3s forwards;
}

#SLIDEout-left {
  animation: SLIDEoutLeft 0.3s forwards;
}

@keyframes SLIDEinRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes SLIDEoutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes SLIDEinRightWidth {
  from {
    opacity: 0;
    transform: translateX(100%);
    width: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    width: 32rem;  
  }
}

@keyframes SLIDEoutRightWidth {
  from {
    opacity: 1;
    transform: translateX(0);
    width: 32rem;
  }
  to {
    opacity: 0;
    transform: translateX(100%);
    width: 0;
  }
}


#SLIDEin-right, #SLIDEdetailIn-right {
  border-left: 1px solid rgb(242, 242, 242);
  animation: SLIDEinRight 0.3s forwards;
}

#SLIDEout-right, #SLIDEdetailOut-right {
  animation: SLIDEoutRight 0.3s forwards;
}

#SLIDEdetailIn-right {
  animation: SLIDEinRightWidth 0.3s forwards;
}

#SLIDEdetailOut-right {
  animation: SLIDEoutRightWidth 0.3s forwards;
}