@tailwind base;
@tailwind components;
@tailwind utilities;

/*?font-import : hahmlet */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Hahmlet', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size:xx-large;
  font-weight: 700;
}

h2 {
  font-size: x-large;
  font-weight: 700;
}

@layer components {
  .formInput {
    width: 40rem;
    height: 3rem;

    padding-left: 1rem;
    /* margin-bottom: 3rem; */
    border: 1px solid lightgray;
    border-radius: 5px;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
    width: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    width: 30%;
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
    width: 30%;
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
    width: 0;
  }
}

#slideLeft-entering {
  border-right: 1px solid rgb(242, 242, 242);
  animation: slideInLeft 0.5s ease forwards;
}

#slideLeft-exiting {
  animation: slideOutLeft 0.5s ease forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
    width: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    width: 40%;
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
    height: 100%;
    width: 40%;
  }
  to {
    opacity: 0;
    transform: translateX(100%);
    width: 0;
  }
}
#slideRight-entering {
  border-left: 1px solid rgb(242, 242, 242);
  animation: slideInRight 0.5s ease forwards;
}

#slideRight-exiting {
  animation: slideOutRight 0.5s ease forwards;
}