/* ************************* main ************************* */
#mainSection {
  /* height:53rem; */
  height:85vh;

  display: flex;
  flex-direction: row;
}

/* ************************* header ************************* */
#calHeader {
  /* height: 5rem; */
  height: 15vh;

  display: flex;
  align-items: center;

  border-bottom: 1px solid rgb(242, 242, 242);
}

#calHeader > *:not(:first-child):not(:last-child) {
  margin: 0 2rem;
}

#calHeader-leftSidebar  {
  width: 2.5rem;

  margin-top: 0.5rem;
  margin-left: 1rem;
  cursor:pointer;
}

#calendarLogo {
  color:#0086FF;
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}

#calHeader-title {
  padding-top: 0.5rem;
  
  font-size: larger;
  font-weight: 700;
}

.calHeader-button {  
  height: 2rem;
  width: 4rem;
  margin-top: 0.7rem;
  margin-left: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px solid lightgray;
  border-radius: 5px;

  color: rgb(160, 160, 160);
  font-weight:900;
}

#prevMonth-button {
  height: 2rem;
  width: 4rem;

  border-radius: 4px 0 0 4px;
}

#nextMonth-button{
  height: 2rem;
  width: 4rem;

  border-radius: 0 5px 5px 0;
}

#prevMonth-button:hover, #nextMonth-button:hover {
  color: #0086FF;
  background-color: #badfff;
}

#right-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* margin-top: 0.5rem; */
  margin-right: 0.5rem;
}

#sync-button {
  width: 2rem;
  height: 2.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* ****** 가로모드 ****** * /
/* #right-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: 0.5rem;
}

#sync-button {
  width: 2rem;
  height: 2.2rem;
  cursor: pointer;

  margin-bottom: 0.5rem;
} */
/*************************/

#sync-button:hover {
  border-radius: 33%;
  background-color: #badfff;
}