/* ************************* main ************************* */
#mainSection {
  /* height:53rem; */
  height:85vh;

  display: flex;
  flex-direction: row;
}

/* ************************* header ************************* */

#calHeader {
  height: 15vh;
  
  display: flex;
  align-items: center;
  
  border-bottom: 1px solid rgb(242, 242, 242);
}

#calHeader > *:not(:first-child):not(:last-child) {
  margin: 0 2rem;
}

#calHeader-leftSidebar  {
  width: 2.5rem;
  
  margin-top: 0.5rem;
  margin-left: 1rem;
  cursor:pointer;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 35vh;
}

#calendarLogo {
  width: 85%;
  cursor: pointer;
}

.logo-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  padding-top: 0.5rem;
}

#calHeader-title {
  font-size: medium;
  font-weight: 600;
}

.month-controller {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid lightgray;
  border-radius: 5px;

  color: rgb(160, 160, 160);
  font-weight:900;
}

#prevMonth-button {
  height: 1.5rem;
  width: 2rem;

  border-radius: 4px 0 0 4px;
}

#nextMonth-button{
  height: 1.5rem;
  width: 2rem;

  border-radius: 0 5px 5px 0;
}

#prevMonth-button:hover, #nextMonth-button:hover {
  color: #0086FF;
  background-color: #badfff;
}

#right-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  /* margin-top: 0.5rem; */
  margin-right: 0.5rem;
}

/* ****** 가로모드 ****** * /
/* #right-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: 0.5rem;
}

#sync-button {
  width: 2rem;
  height: 2.2rem;
  cursor: pointer;

  margin-bottom: 0.5rem;
} */
/*************************/

/* ****** 토스트 CSS ****** */

.memberAlert {
  width: 40rem;
  text-align: center;
  font-size: 1.2rem;
  color: lightgray;
}

.calendarAlert {
  width: 30rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

/* ! 시연용  토스트 !
.memberAlert {
  font-family: 'Jua', sans-serif;
  width: 65rem;
  height: 6rem;
  text-align: center;
  font-size: 2rem;
  color: lightgray;
} */
