.userModal {
  position: absolute;
  left: -50%;
  top: 100%;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0; 
  transition: opacity 0.2s, transform 0.2s;
  transform: translateY(-50%); 
}

.userModal.open {
  opacity: 1; 
  z-index: 1000;
  transform: translateX(-30%) translateY(-20%); 
  pointer-events: auto;
}

.emojiModal {
  display: flex;
  flex-direction: column;
  
  width: 20rem;      
  height: 20rem;

  position: fixed; 
  top: 81%;         
  left: 64.5%;       
  transform: translate(-50%, -50%);
  z-index: 1000;    
  background: white; 
  padding: 0.5rem;    /* 내부 패딩 */
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.5); 
}

.emojiOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 999;
}

.createEmojiModal { 
  height: 80vh;
  width: 100vh;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
  position: fixed; 
  border-radius: 5px;

  box-shadow: 0 10px 12px rgba(0,0,0,0.5); 
}

.createEmojiOverlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

.eventModal {
  width: 24rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: 5px -5px 12px rgba(0,0,0,0.5); 
}

.evevntOverlay {
  background-color: rgba(255, 255, 255, 0);
}


.feedModal {
  height: 80vh;
  width: 140lvh;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
  position: fixed; 
  border-radius: 5px;

  box-shadow: 0 10px 12px rgba(0,0,0,0.5); 
}

.feedOverlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}


.thumbnailModal { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 80vh;
  width: 100vh;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
  position: fixed; 
  border-radius: 5px;

  box-shadow: 0 10px 12px rgba(0,0,0,0.5); 
}

.thumbnailOverlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}

.bannerUpdateModal {
  height: 80vh;
  width: 130vh;
  padding: 0;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
  position: fixed;
  border-radius: 5px;

  box-shadow: 0 10px 12px rgba(0,0,0,0.5); 
}

.bannerUpdateOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  zIndex: 1050;
}

.dayMemberEventModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-width: 120lvh;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
  position: fixed; 
  border-radius: 5px;

  box-shadow: 0 10px 12px rgba(0,0,0,0.5); 
}

.dayMemberEventOverlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
}
